html {
  font-size: 100px;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.content{
  width: 6rem;
  margin: auto;
}

.todo-title {
  text-align: center;
  color: rgb(96, 201, 39);
  font-size: 0.8rem;
}


.todo-input {
  height: 0.4rem;
}

.btn-submit {
  margin-top: 0.03rem;
}

.todo-item-wrap {
  height: 4rem;
  border: 1px solid rgba(47, 50, 51, 0.28);
  margin-top: 0.1rem;
  border-radius: 0.05rem;
  overflow: auto;
}

.todo-item {
  height: 0.4rem;
  border-bottom: 1px solid rgba(47, 50, 51, 0.28);
  position: relative;
}

.todo-item div {
  line-height: 0.4rem;
  display: inline-block;
}

.todo-item-num,.todo-item-del {
  font-size: 0.2rem;
  padding: 0 0.1rem;
  text-align: center;
}

.todo-item-del {
  cursor: pointer;
}


.todo-item-num,.todo-item-txt,.todo-item-done {
  border-right: 1px solid rgba(47, 50, 51, 0.28);
}

.todo-item-done {
  text-align: center;
  padding: 0;
  cursor: pointer;
}


/******************************************侧边栏********************************************************/
.sidebar {
  position: absolute;
  width: 2rem;
  height: 100%;
  background: rgb(236, 245, 239);
}

.sidebar-button-login {
  margin-top: 1rem;
}

.sidebar-button {
  margin-left: 0.4rem;
}

.menu-item {
  width: 100%;
  text-align: center;
  padding: 0.2rem;
}

.sidebar-button-menu {
  color: rgb(116, 121, 118);
  font-size: 0.18rem;
}

.sidebar-button-menu div {
  cursor: pointer;
}

.sidebar-button-menu div:hover {
  background-color: rgb(210, 222, 213);
}

.sidebar-button-menu div:first-child {
  margin-top: 1rem;
}

/*****************************  login *******************************/
.login-wrap {
  width: 6rem;
  margin: auto;
  padding-top: 1rem;
}
